@model Soft_Eng_Spring2024.Models.Announcement

@{
    ViewData["Title"] = "Details";
}



<div style="background-color:rgb(16,16,16,0.5);color:white;margin:10px;margin-right:200px;margin-left:200px;padding:50px;">
    <h1><b>ΑΝΑΚΟΙΝΩΣΗ</b></h1>
    @if (User == null || User.Identity == null || User.Identity.IsAuthenticated)
    {
        @if (User.FindFirst("Role").Value == "2" || User.FindFirst("Role").Value == "3")
        {

            <h6 style="color:#808080"><i>Δημιουργός: @Html.DisplayFor(model => model.Author)</i></h6>
        }
    }
    <br>

    <div style="background-color:rgb(255,255,255,0.12);padding-top:40px;padding-bottom:40px;padding:10px;width:auto;">
        <h3>
            <b>@Html.DisplayFor(model => model.Title)</b>
        </h3>
        
        <h6 style="color:#808080"><i>@Html.DisplayFor(model => model.Date)</i></h6><br>
        <h5>@Html.DisplayFor(model => model.Body)</h5>

        
      
    </div>
    <div>
        <br><br>
        @if (User == null || User.Identity == null || User.Identity.IsAuthenticated)
        {
            @if (User.FindFirst("Role").Value == "2" || User.FindFirst("Role").Value == "3")
            {
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-outline-info">Επεξεργασία</a>

            }
        }
        <a asp-action="Index" class="btn btn-outline-secondary">Επιστροφή</a>
    </div>

</div>