@model Soft_Eng_Spring2024.Models.Poll
@{
    ViewData["Title"] = "Επεξεργασία Δημοσκόπησης";
}
<link rel="stylesheet" type="text/css" href="~/css/forma_anakoin_events.css" />
<link rel="stylesheet" type="text/css" href="~/css/auth.css" />
<style>
    .date-group {
        display: flex;
        gap: 10px;
    }

    .date-input {
        display: flex;
        flex-direction: column;
    }

    .poll-container {
        display: flex;
        gap: 10px;
    }

    .poll-column {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .poll-input {
        margin-bottom: 10px;
    }

    .hidden {
        display: none;
    }
</style>
<div class="hero_area">
    <div class="container">
        <div class="forma-wrap">
            <div class="forma-html">
                <p class="tab" style="color:#fff;border-color: #790621;">
                    Δημοσκόπηση
                    <div class="login-form">

                        @using (Html.BeginForm("Edit", "Polls", FormMethod.Post))
                        {
                            <div class="group">
                                <label class="label">Τίτλος</label>
                                <input type="text" asp-for="Title" class="input">
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="group date-group">
                                <div class="date-input">
                                    <label class="label">Ημερομ. Έναρξης</label>
                                    <input asp-for="StartDate" />
                                    <span asp-validation-for="StartDate" class="text-danger"></span>
                                </div>
                                <div class="date-input">
                                    <label class="label">Ημερομ. Λήξης</label>
                                    <input asp-for="FinishDate" />
                                    <span asp-validation-for="FinishDate" class="text-danger"></span>
                                </div>
                            </div>
                            
                            <div class="group">
                                <!--<label class="label">Επιλογές</label>-->
                                <input asp-for="Votes" class="input" hidden />
                                <span asp-validation-for="Votes" class="text-danger" hidden></span>
                            </div>
                            
                            <!--koubi-->
                            <div class="hr"></div>
                            <div class="group">
                                <input type="submit" class="btn float-right login_btn" value="Αποθήκευση">
                            </div>
                        }
                    </div>
            </div>
        </div>
    </div>
</div>
