@model IEnumerable<Soft_Eng_Spring2024.Models.Announcement>

@{
    ViewData["Title"] = "Ανακοινώσεις - Τμήμα Πληροφορικής";
}
<br><br><br><br>
	<h1 style="text-align:center; color:white;"><b>* anakoinwseis *</b></h1>

