@{
    ViewData["Title"] = "Υπηρεσίες - Τμήμα Πληροφορικής";
}
<br>
<section class="blog_section layout_padding">
    <div class="container-fluid">
        <div class="row box b1">
            <div class="col-md-10 mx-auto">
                <div class="heading_container detail-box">
                    <h2 style="color: #f8f9fa">
                        Προπτυχιακό Πρόγραμμα Σπουδών
                    </h2>
                    <p>Το νέο Πρόγραμμα Σπουδών του Τμήματος Πληροφορικής του Πανεπιστημίου Πειραιώς 
                        φιλοδοξεί να εκπληρώσει στο μέγιστο δυνατό βαθμό τους εξής στόχους:
                    </p>
                    <ol>
                        <li>1. Ευθυγράμμιση με τους τρέχοντες προσανατολισμούς που ορίζονται διεθνώς στον τομέα της Πληροφορικής και τις ανάγκες της αγοράς εργασίας,</li>
                        <li>2. Προσδιορισμό της ιδιαίτερης ταυτότητας του Τμήματος με την καθιέρωση κατευθύνσεων που θα θεραπεύουν επαρκώς, για προπτυχιακό επίπεδο, τομείς-αιχμής της Πληροφορικής,</li>
                        <li>3. Δημιουργία «φυτώριου» νέων επιστημόνων με την ενσωμάτωση σύγχρονων γνωστικών αντικειμένων και μαθημάτων σε συνδυασμό και με τα ήδη δρομολογημένα Προγράμματα Μεταπτυχιακών Σπουδών του Τμήματος.</li>
                    </ol>
                    <p>
                        Για την εκπλήρωση των παραπάνω στόχων στο νέο Πρόγραμμα Σπουδών εισάγονται στα δύο τελευταία έτη σπουδών τρεις κατευθύνσεις:
                    </p>
                    <ol>
                        <li>1. Τεχνολογία Λογισμικού και Ευφυή Συστήματα</li>
                        <li>2. Διαδικτυακά και Υπολογιστικά Συστήματα</li>
                        <li>3. Πληροφοριακά Συστήματα και Υπηρεσίες</li>
                    </ol>
                    <p>
                        Οι οποίες θα παρέχουν την απαραίτητη και κρίσιμη, για προπτυχιακό επίπεδο, εξειδίκευση που θα καθιστά τους φοιτητές του Τμήματος ανταγωνιστικούς στην αγορά εργασίας και έτοιμους να αντεπεξέλθουν στις σύγχρονες απαιτήσεις στον επιστημονικό στίβο της Πληροφορικής.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 pr-0" id = "section1">
                <div class="box b1">
                    <div class="img-box" style="height: 300px; overflow: hidden;">
                        <img src="~/images/tles.png" alt="" style="object-fit: cover; width: 100%;">
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-10 mx-auto">
                            <div class="detail-box">
                                <h3>
                                    Τεχνολογία Λογισμικού και Ευφυή Συστήματα
                                </h3>
                                <p>
                                    Η ταχεία εξέλιξη των υπολογιστών, με αυξημένη υπολογιστική ισχύ και χωρητικότητα μνήμης, 
                                    έχει καταστήσει δυνατή τη χρήση προηγμένων προγραμματιστικών τεχνικών ακόμα και σε προσωπικούς υπολογιστές. 
                                    Αυτές οι τεχνικές προέρχονται από τα πεδία της Τεχνολογίας Λογισμικού, 
                                    των Γραφικών και της Εικονικής Πραγματικότητας, της Τεχνητής Νοημοσύνης, 
                                    της Αναγνώρισης Προτύπων και Μηχανικής Μάθησης, των Πολυμέσων και των Επικοινωνιών Ανθρώπου-Υπολογιστή. 
                                    Στόχος είναι να παρέχουν στους προπτυχιακούς φοιτητές το απαραίτητο υπόβαθρο και τις εξειδικευμένες γνώσεις 
                                    για να ανταποκριθούν στις απαιτήσεις της ανάπτυξης λογισμικού.
                                </p>
                                <div class="courses">
                                    <h4>Πρόγραμμα Μαθημάτων</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5>5ο Εξάμηνο</h5>
                                            <ul>
                                                <li>1. Λογικός Προγραμματισμός</li>
                                                <li>2. Συστήματα Διαχείρισης Βάσεων Δεδομένων</li>
                                                
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h5>6ο Εξάμηνο</h5>
                                            <ul>
                                                <li>1. Συστήματα Πολυμέσων</li>
                                                <li>2. Επεξεργασία Φυσικής Γλώσσας</li>
                                                <li>3. Βιοπληροφορική</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h5>7ο Εξάμηνο</h5>
                                            <ul>
                                                <li>1. Εικονική Πραγματικότητα</li>
                                                <li>2. Ανάλυση Εικόνας</li>
                                                <li>3. Σύγχρονα Θέματα Τεχνολογίας Λογισμικού</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h5>8ο Εξάμηνο</h5>
                                            <ul>
                                                <li>1. Εκπαιδευτικό Λογισμικό</li>
                                                <li>2. Επεξεργασία Σημάτων Φωνής και Ήχου</li>
                                                <li>3. Ευφυείς Πράκτορες</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 pr-0" id= "section2">
                <div class="box b1">
                    <div class="img-box" style="height: 300px; overflow: hidden;">
                        <img src="~/images/dis.png" alt="" style="object-fit: cover; width: 100%;"> 
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-10 mx-auto ">
                            <div class="detail-box">
                                <h3>
                                    Διαδικτυακά και Υπολογιστικά Συστήματα
                                </h3>
                                <p>
                                    Η σύγκλιση των τεχνολογιών πληροφορικής και τηλεπικοινωνιών, η εκρηκτική ανάπτυξη του Διαδικτύου 
                                    και οι εκθετικές αλλαγές στην πολυπλοκότητα και στις ταχύτητες των συστημάτων που υποστηρίζουν 
                                    τις παραπάνω τεχνολογίες, απαιτεί την απόκτηση εξειδικευμένων γνώσεων στους επιστημονικούς τομείς 
                                    των διαδικτυακών ή δικτυοκεντρικών συστημάτων και των υπολογιστικών συστημάτων που είναι απαραίτητα 
                                    για την εξάπλωση των τεχνολογιών αυτών. Το πρόγραμμα σπουδών στην κατεύθυνση αυτή παρέχει τη δυνατότητα 
                                    στους φοιτητές να αποκτήσουν κατ’ αρχήν το απαραίτητο υπόβαθρο για την κατανόηση, λειτουργία και χρήση 
                                    των τεχνολογιών αυτών και ύστερα να εφοδιαστούν με τις απαραίτητες δεξιότητες για την ανάπτυξη, συντήρηση 
                                    και αριστοποίηση συστημάτων που λειτουργούν σε ένα δικτυακό περιβάλλον.
                                </p>
                                <div class="courses">
                                    <h4>Πρόγραμμα Μαθημάτων</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5>5ο Εξάμηνο</h5>
                                            <ul>
                                                <li>1. Προηγμένη Αρχιτεκτονική Υπολογιστών</li>
                                                <li>2. Προηγμένα Θέματα Επικοινωνιών</li>
                                                
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h5>6ο Εξάμηνο</h5>
                                            <ul>
                                                <li>1. Σχεδίαση Υπολογιστικών Συστημάτων</li>
                                                <li>2. Δίκτυα Υωηλών Ταχυτήτων</li>
                                                <li>3. Προγραμματισμός Συστημάτων</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h5>7ο Εξάμηνο</h5>
                                            <ul>
                                                <li>1. Κατανεμημένα και Πολυεπεξεργαστικά Υπολογιστικά Συστήματα</li>
                                                <li>2. Κινητές και Ασύρματες Επικοινωνίες</li>
                                                <li>3. Ασφάλεια Πληροφριακών Συστημάτων</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h5>8ο Εξάμηνο</h5>
                                            <ul>
                                                <li>1. Ασφάλεια Δικτύων</li>
                                                <li>2. Ηλεκτρονικό Επιχειρείν και Καινοτομία</li>
                                                <li>3. Πληροφοριακά Συστήματα στο Διαδίκτυο</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 pr-0" id="section3">
                <div class="box b1">
                    <div class="img-box" style="height: 300px; overflow: hidden;">
                        <img src="~/images/psi.png" alt="" style="object-fit: cover; width: 100%;"> 
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-10 mx-auto">
                            <div class="detail-box">
                                <h3>
                                    Πληροφοριακά Συστήματα και Υπηρεσίες
                                </h3>
                                <p>
                                    Η ανάπτυξη και διαχείριση σύγχρονων πληροφοριακών συστημάτων απαιτεί γνώσεις στις Τεχνολογίες Πληροφορικής 
                                    και Επικοινωνιών και στη διοίκηση επιχειρήσεων. Αυτά τα συστήματα πρέπει να είναι καινοτόμα, 
                                    ασφαλή και έμπιστα από τους χρήστες, ενώ να ενσωματώνουν επιτυχώς στις επιχειρήσεις. 
                                    Στόχος είναι η παροχή στους φοιτητές θεωρητικών και εφαρμοσμένων γνώσεων για την ανάπτυξη 
                                    και χρήση πληροφοριακών συστημάτων. Έμφαση δίνεται στις μεθοδολογίες ανάλυσης και ασφαλούς σχεδίασης, 
                                    στις αποδοτικές βάσεις δεδομένων, στα δίκτυα υπολογιστών, και στην ασφάλεια πληροφοριών.
                                </p>
                                <div class="courses">
                                    <h4>Πρόγραμμα Μαθημάτων</h4>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h5>5ο Εξάμηνο</h5>
                                            <ul>
                                                <li>1. Συστήματα Διαχείρησης Βάσεων Δεδομένων</li>
                                                <li>2. Κρυπτογραφία</li>
                                                
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h5>6ο Εξάμηνο</h5>
                                            <ul>
                                                <li>1. Αναλυτική Δεδομένων</li>
                                                <li>2. Συστημική Ανάλυση</li>
                                                <li>3. Συστήματα Υποστήριξης Αποφάσεων</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h5>7ο Εξάμηνο</h5>
                                            <ul>
                                                <li>1. Ασφάλεια Πληροφοριακών Συστημάτων</li>
                                                <li>2. Θέματα Επιστήμης Δεδομένων</li>
                                                <li>3. Προσομοίωση Συστημάτων</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-6">
                                            <h5>8ο Εξάμηνο</h5>
                                            <ul>
                                                <li>1. Διοικητική Πληροφορική</li>
                                                <li>2. Ηλεκτρονικό Επιχειρείν και Καινοτομία</li>
                                                <li>3. Πληροφοριακά Συστήματα στο Διαδίκτυο</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
