@{
    ViewData["Title"] = "Υπηρεσίες - Τμήμα Πληροφορικής";
}
<br>
<br>

<section class="blog_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 ml-auto">
                <div class="heading_container">
                    <h2>
                        ΣΠΟΥΔΕΣ (Studies)
                    </h2>
                    <p>
                        text text text text text text text text text text text text text text text text text text text text text text text text text text text text text text
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 pr-0">
                <div class="box b1">
                    <div class="img-box" style="height: 200px; overflow: hidden;">
                        <img src="~/images/b2.jpg" alt="" style="object-fit: cover; width: 100%;"> <!-- Ensure image covers the container -->
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-10 mx-auto">
                            <div class="detail-box">
                                <h3>
                                    Τεχνολογία Λογισμικού και Ευφυή Συστήματα
                                </h3>
                                <p>
                                    Η ταχεία εξέλιξη των υπολογιστών, με αυξημένη υπολογιστική ισχύ και χωρητικότητα μνήμης, έχει καταστήσει δυνατή τη χρήση προηγμένων προγραμματιστικών τεχνικών ακόμα και σε προσωπικούς υπολογιστές. Αυτές οι τεχνικές προέρχονται από τα πεδία της Τεχνολογίας Λογισμικού, των Γραφικών και της Εικονικής Πραγματικότητας, της Τεχνητής Νοημοσύνης, της Αναγνώρισης Προτύπων και Μηχανικής Μάθησης, των Πολυμέσων και των Επικοινωνιών Ανθρώπου-Υπολογιστή. Στόχος είναι να παρέχουν στους προπτυχιακούς φοιτητές το απαραίτητο υπόβαθρο και τις εξειδικευμένες γνώσεις για να ανταποκριθούν στις απαιτήσεις της ανάπτυξης λογισμικού
                                <a href="">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 pr-0">
                <div class="box b1">
                    <div class="img-box">
                        <img src="~/images/b2.jpg" alt="">
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-10 mx-auto ">
                            <div class="detail-box">
                                <h3>
                                    Διαδικτυακά και Υπολογιστικά Συστήματα
                                </h3>
                                <p>
                                    Η σύγκλιση των τεχνολογιών πληροφορικής και τηλεπικοινωνιών, η εκρηκτική ανάπτυξη του Διαδικτύου και οι εκθετικές αλλαγές στην πολυπλοκότητα και στις ταχύτητες των συστημάτων που υποστηρίζουν τις παραπάνω τεχνολογίες, απαιτεί την απόκτηση εξειδικευμένων γνώσεων στους επιστημονικούς τομείς των διαδικτυακών ή δικτυοκεντρικών συστημάτων και των υπολογιστικών συστημάτων που είναι απαραίτητα για την εξάπλωση των τεχνολογιών αυτών. Το πρόγραμμα σπουδών στην κατεύθυνση αυτή παρέχει τη δυνατότητα στους φοιτητές να αποκτήσουν κατ’ αρχήν το απαραίτητο υπόβαθρο για την κατανόηση, λειτουργία και χρήση των τεχνολογιών αυτών και ύστερα να εφοδιαστούν με τις απαραίτητες δεξιότητες για την ανάπτυξη, συντήρηση και αριστοποίηση συστημάτων που λειτουργούν σε ένα δικτυακό περιβάλλον
                                </p>
                                <a href="">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 pr-0">
                <div class="box b1">
                    <div class="img-box">
                        <img src="~/images/b2.jpg" alt="">
                    </div>
                    <div class="row">
                        <div class="col-lg-8 col-md-10 mx-auto">
                            <div class="detail-box">
                                <h3>
                                    Πληροφοριακά Συστήματα και Υπηρεσίες
                                </h3>
                                <p>
                                    Η ανάπτυξη και διαχείριση σύγχρονων πληροφοριακών συστημάτων απαιτεί γνώσεις στις Τεχνολογίες Πληροφορικής και Επικοινωνιών και στη διοίκηση επιχειρήσεων. Αυτά τα συστήματα πρέπει να είναι καινοτόμα, ασφαλή και έμπιστα από τους χρήστες, ενώ να ενσωματώνουν επιτυχώς στις επιχειρήσεις. Στόχος είναι η παροχή στους φοιτητές θεωρητικών και εφαρμοσμένων γνώσεων για την ανάπτυξη και χρήση πληροφοριακών συστημάτων. Έμφαση δίνεται στις μεθοδολογίες ανάλυσης και ασφαλούς σχεδίασης, στις αποδοτικές βάσεις δεδομένων, στα δίκτυα υπολογιστών, και στην ασφάλεια πληροφοριών.
                                </p>
                                <a href="">
                                    Read More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
