<div class="hero_area" style="display: flex; justify-content: center; align-items: center; height: 100vh;">
    <div style="background-color: rgba(16, 16, 16, 0.5); color: white; margin: 100px; padding: 50px; display: inline-block; text-align: center; max-width: 600px;">
        <h4 class="p-1 mb-2 bg-danger text-white" style="display: inline-block;">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z" />
            </svg>&nbsp;Η πρόσβαση απορρίφθηκε
        </h4><br><br>
        <h6>Δεν έχετε τα κατάλληλα δικαιώματα για να αποκτήσετε πρόσβαση σε αυτήν τη σελίδα.<br> Εάν πιστεύετε ότι αυτό είναι λάθος, παρακαλώ επικοινωνήστε με τον διαχειριστή του συστήματος.</h6>
    </div>
</div>
