<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>@ViewData["Title"]</title>


    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis:400,600,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/responsive.css" rel="stylesheet" />
    <link href="~/css/header1.css" rel="stylesheet" />

</head>

<body>
    <div class="img1">
        <header class="header1">
            <div class="contact_info">
                <ul>
                    <li>
                        <img src="~/images/telephone.png" alt="Telephone" />
                        <span> 210 4142000</span>
                    </li>
                    <li>
                        <img src="~/images/mail.png" alt="Email" />
                        <span>info@unipi.gr</span>
                    </li>
                    <li>
                        <img src="~/images/location.png" alt="Location" />
                        <span>Μ. Καραολή & Α. Δημητρίου 80, Πειραιάς</span>
                    </li>
                </ul>
            </div>
            <div class="px-3 py-2 text-bg-dark border-bottom">
                <div>
                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-center">
                        <a class="navbar-brand brand_desktop">
                            <img  src="~/images/logo.png" alt="logo" />
                        </a>
                        <a class="navbar-brand brand_mobile">
                            <img src="~/images/logo.png" alt="logo" />
                        </a>

                        <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                            <li class="nav-item active">
                                <a class="nav-link text-secondary" asp-controller="Home" asp-action="Index"><b>ΤΜΗΜΑ</b> <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-secondary" asp-controller="Announcements" asp-action="Index"> ΑΝΑΚΟΙΝΩΣΕΙΣ </a>
                            </li>
                            <li>
                                <a class="nav-link text-secondary" asp-controller="Events" asp-action="Index"> ΕΚΔΗΛΩΣΕΙΣ</a>
                            </li>
                            <li>
                                <a class="nav-link text-secondary" asp-controller="Home" asp-action="Study"> ΣΠΟΥΔΕΣ </a>
                            </li>
                            @if (User == null || User.Identity == null || User.Identity.IsAuthenticated)
                            {

                                @if (User.FindFirst("Role").Value == "2" || User.FindFirst("Role").Value == "3")
                                {
                                    <li>
                                        <a class="nav-link text-secondary" asp-controller="Polls" asp-action="Index">ΔΗΜΟΣΚΟΠΗΣΕΙΣ</a>
                                    </li>

                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
            <div class="px-3 py-2 border-bottom mb-3">
                <div class="d-flex flex-wrap justify-content-center">
                    @if (User == null || User.Identity == null || User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a class="nav-link text-secondary" href="">@User.Identity.Name</a>
                        </li>
                        @if (User.FindFirst("Role").Value == "2" || User.FindFirst("Role").Value == "3")
                        {
                            <li>
                                <a class="nav-link text-secondary" asp-controller="Announcements" asp-action="Create">Προσθήκη Περιεχομένου</a>

                            </li>
                            <li>
                                <a class="nav-link text-secondary" asp-controller="Polls" asp-action="Create">Δημιουργία Δημοσκόπησης</a>
                            </li>

                        }
                        @if (User.FindFirst("Role").Value == "3")
                        {
                            <li>
                                <a class="nav-link text-secondary" asp-controller="Users" asp-action="User_Approval">Αιτήματα Χρηστών</a>
                            </li>
                        }
                    }
                    @if (User == null || User.Identity == null || User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-outline-secondary" asp-area="" asp-controller="Users" asp-action="Logout">Logout</a>

                    }
                    else
                    {
                        <form class="form-inline">
                            <a class="btn btn-outline-secondary" asp-controller="Users" asp-action="Login" role="button">Σύνδεση/Εγγραφή</a>
                        </form>
                    }
                </div>
            </div>
        </header>
        @RenderBody()
</body>

</html>